* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
  color: black;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
}
a {
  outline: none;
}

.center {
  padding-left: calc(50vw - 600px);
  padding-right: calc(50vw - 600px);
}
