.nav {
  &__list {
    display: flex;
    gap: 15px;
    list-style: none;

    @media screen and (max-width: 968px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
      display: grid;
      gap: 10px;
      padding-right: 68px;

    }
  }

  &__link {
    text-decoration: none;
    color: #85aaab;
    font-size: 18px;
    font-weight: 700;

    @media screen and (max-width: 500px) {
      font-size: 12px;
      padding-right: 30px;
    }

    &_active {
      color: #6de1e3;
      border-bottom: 2px solid currentColor;
    }

    &:hover,
    &:focus {
      color: #18b2b4;
    }
  }
}