.offer {
  padding-top: 241px;
  padding-bottom: 161px;
  background-image: url(../img/tini-img/photo_to_main_offer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  &__title {
    max-width: 454px;
    color: #fff;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    margin: 0 0 55px;
  }
  &__descr {
    font-size: 24px;
    line-height: 1.5;
    max-width: 300px;
    margin: 0 0 55px;
  }
}
