.sale {
  padding-top: 40px;
  padding-bottom: 60px;

  &__title {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (max-width: 768px) {
      font-size: 34px;
    }

    @media screen and (max-width: 500px) {
      font-size: 30px;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 10px;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 1200px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 500px) {
    padding: 30px 20px;
  }
}