select {
  appearance: none;
  border: none;
  cursor: pointer;
  width: 100%;


  @media screen and (max-width: 500px) {}
}

.select-wrapper {
  position: relative;
  max-width: 369px;
  width: 100%;



  &:before {
    content: "";
    position: absolute;
    top: 40%;
    right: 15px;
    transform: translate(-50%);
    display: block;
    width: 10px;
    height: 10px;
    text-align: center;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 9px 0 9px;
    border-color: #000000 transparent transparent transparent;
    transition: 0.3s;

  }

  &:focus-within {
    &:before {
      scale: 1 -1;
    }
  }


}