.sign-up {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;

  &__form {
    display: grid;
    gap: 30px;
    grid-template-columns: minmax(200px, 369px) minmax(200px, 372px);
    grid-template-rows: auto;


    @media screen and (max-width: 560px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (max-width: 500px) {
      font-size: 30px;
    }
  }

  &__input {
    grid-column: 1/2;
  }

  &__btn-sumbit {
    margin-top: 10px;
    grid-column: 1/3;
    grid-row: 6;
    text-align: center;

    @media screen and (max-width: 500px) {
      width: 103px;
    }
  }

  &__checkbox {
    margin-top: 10px;
    grid-row: 5;
    grid-column: 1/3;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }

  @media screen and (max-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
  }


  @media screen and (max-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;

  }
}